<html>

<head>
  <title>quizer</title>
</head>

<body>
  {% if prev_question %}
    <p>Previous question: {{ prev_question.text }}</p>
    <p>Correct answer:
      <ul>
        {% for answer in correct_answers_for_prev_question %}
          <li>{{ answer.text }}</li>
        {% endfor %}
      </ul>
    </p>
  {% endif %}
  <form action="/" method="post">
    {{ question.text }}
    {% csrf_token %}
    {% if is_radio %}
      {% for answer in answers %}
        <p><input type="radio" id="{{ answer.id }}" value="{{ answer.id }}" name="posted_answer">
        <label for="{{ answer.id }}">{{ answer.text }}</label></p>
      {% endfor %}
    {% else %}
      {% for answer in answers %}
        <p><input type="checkbox" id="{{ answer.id }}" value="{{ answer.id }}" name="posted_answer[]">
        <label for="{{ answer.id }}">{{ answer.text }}</label></p>
      {% endfor %}
    {% endif %}
    <input type="submit" value="Send">
</form>
<h5>score: {{ score }}</h5>
</body>

</html>
